<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Meeting Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="..." crossorigin="anonymous">
</head>
<body>

<div th:replace="shared/header :: header"></div>

<div>
    <h2>Meeting Details</h2>
    <p><span th:text="${meeting.name}"></span></p>

    <a th:href="@{'/meeting/adduser/' + ${meeting.id}}" class="btn btn-primary">Add Users to Meeting</a>

    <a th:href="@{'/meeting'}" class="btn btn-secondary">Back to Meetings All</a>
</div>

</body>
</html>
