<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body onload="submitDeleteForm()">

<form id="deleteForm" action="/meeting/delete/{meetingId}" method="post">
    <input type="hidden" name="_method" value="delete">
</form>

<script>
    function submitDeleteForm() {
        const meetingId = window.location.pathname.split('/').pop();

        document.getElementById('deleteForm').action = '/meeting/delete/' + meetingId;

        document.getElementById('deleteForm').submit();
    }
</script>

</body>
</html>
