<!-- meetingDetails.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <title>Meeting Details</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</head>

<body>
<div class="container">
  <h1>Meeting Details</h1>
  <div>
    <p><strong>Meeting Name:</strong> <span th:text="${room.name}"></span></p>
  </div>

  <!-- Button to redirect to editmeeting/{meetingId} -->
  <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <!-- Render the Edit Meeting button -->
    <a th:href="@{'/editroom/' + ${room.room_id}}" class="btn btn-warning">Edit Room</a>
  </th:block>


  <div sec:authorize="hasRole('ROLE_ADMIN')">
    <button class="btn btn-danger" th:attr="onclick='confirmDelete(\'' + ${room.room_id} + '\')'">Delete</button>
  </div>

  <!-- JavaScript for confirmation -->
  <script th:inline="javascript">
    function confirmDelete(roomId) {
      if (confirm("Are you sure you want to delete this room?")) {
        // User confirmed, perform deletion or redirect to delete endpoint
        window.location.href = '/deleteroom/' + roomId;
      } else {
        // User canceled, do nothing
      }
    }
  </script>
</div>
</body>

</html>
